{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}WRGV - App Review{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>App Review</h1>
</div>
<div class="col-md-6">
    <form class="form-horizontal">
        <div class="form-group">
        <label class="col-sm-4 control-label">Apply User</label>
            <div class="col-sm-8">
              <p class="form-control-static">{{ user.user_login }}</p>
            </div>
        </div>
        <div class="form-group">
        <label class="col-sm-4 control-label">App Name</label>
            <div class="col-sm-8">
              <p class="form-control-static">{{ app.app_name }}</p>
            </div>
        </div>
        <div class="form-group">
        <label class="col-sm-4 control-label">App Home</label>
            <div class="col-sm-8">
              <p class="form-control-static">{{ app.app_url }}</p>
            </div>
        </div>
        <div class="form-group">
        <label class="col-sm-4 control-label">App Description</label>
            <div class="col-sm-8">
              <p class="form-control-static">{{ app.app_description }}</p>
            </div>
        </div>
    </form>
    {% if app.app_status %}
        <div class="form-group">
        <label class="col-sm-4 control-label"></label>
            <div class="col-sm-8">
              <p class="form-control-static">Approved already, click <a href="{{ url_for('main.show_authapp', appID=app.app_ID) }}">here</a> to view</p>
            </div>
        </div>
    {% else %}
        <div class="col-sm-offset-4">
            {{ wtf.quick_form(form) }}
        </div>
    {% endif %}
</div>
{% endblock %}